name: type-checkers

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: [ubuntu-latest]

    name: Python ${{ matrix.python-version }} test

    steps:
      - uses: actions/checkout@v1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip poetry
          poetry install --no-interaction --no-ansi --without dev,docs,test

      - name: mypy
        run: |
            poetry run mypy fastembed \
              --disallow-incomplete-defs \
              --disallow-untyped-defs \
              --disable-error-code=import-untyped

      - name: pyright
        run: |
          poetry run pyright tests/type_stub.py